<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>处理中，请稍等</title>
		<style type="text/css">
			.center-in-center {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		</style>
	</head>
	<body>
		<div class="center-in-center">
            数据仍在处理中，请耐心等待，处理ID：<a href="/result?id={{id}}">{{id}}</a>
        </div>
	</body>
</html>